# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import datetime
from scipy.stats import linregress
from pprint import pprint

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "../output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)
# cities

619

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [8]:
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "Imperial"

# Build query URL
query_url = f"{url}appid={weather_api_key}&units={units}&q="
# pprint(query_url)

limit = 0
lat = []
lng = []
temp = []
date = []
humd = []
wind = []
cloud = []
city = []
country = []

# Make a request for each of the indices
for x in range(len(cities)):
    print(f"Making request number: {x} for ID: {cities[x]}")
    response = requests.get(query_url + cities[x]).json()

#     pprint(response)

    try:
        city.append(response['name'])
        country.append(response['sys']['country'])
        lat.append(response['coord']['lat'])
        lng.append(response['coord']['lon'])
        date.append(response['dt'])
        temp.append(response['main']['temp_max'])
        humd.append(response['main']['humidity'])
        wind.append(response['wind']['speed'])
        cloud.append(response['clouds']['all'])
    except:
        print("value error pass")
       
    limit += 1
    if limit == 50: break
    time.sleep(1)

Making request number: 0 for ID: port alfred
Making request number: 1 for ID: garden city
Making request number: 2 for ID: jamestown
Making request number: 3 for ID: atuona
Making request number: 4 for ID: bubaque
Making request number: 5 for ID: bredasdorp
Making request number: 6 for ID: hithadhoo
Making request number: 7 for ID: chuy
Making request number: 8 for ID: emerald
Making request number: 9 for ID: bethel
Making request number: 10 for ID: barrow
Making request number: 11 for ID: anadyr
Making request number: 12 for ID: cidreira
Making request number: 13 for ID: gat
Making request number: 14 for ID: punta arenas
Making request number: 15 for ID: kaifeng
Making request number: 16 for ID: albany
Making request number: 17 for ID: souillac
Making request number: 18 for ID: yellowknife
Making request number: 19 for ID: ostersund
Making request number: 20 for ID: avarua
Making request number: 21 for ID: bandarbeyla
Making request number: 22 for ID: kargat
Making request number: 23 for ID: lazurne
Making request number: 24 for ID: butaritari
Making request number: 25 for ID: diamantino
Making request number: 26 for ID: saryozek
Making request number: 27 for ID: port elizabeth
Making request number: 28 for ID: qui nhon
Making request number: 29 for ID: lebu
Making request number: 30 for ID: amderma
value error pass
Making request number: 31 for ID: bluff
Making request number: 32 for ID: victoria
Making request number: 33 for ID: iqaluit
Making request number: 34 for ID: saskylakh
Making request number: 35 for ID: cape town
Making request number: 36 for ID: barentsburg
value error pass
Making request number: 37 for ID: cheremkhovo
Making request number: 38 for ID: tiksi
Making request number: 39 for ID: tual
Making request number: 40 for ID: saint-philippe
Making request number: 41 for ID: kapaa
Making request number: 42 for ID: pamekasan
Making request number: 43 for ID: chokurdakh
Making request number: 44 for ID: busselton
Making request number: 45 for ID: mataura
Making request number: 46 for ID: vostok
Making request number: 47 for ID: luderitz
Making request number: 48 for ID: palabuhanratu
value error pass
Making request number: 49 for ID: vaini

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [10]:
# Export the city data into a .csv

# create a data frame from cities, lat, and temp
weather_df = dict({
    "city": city,
    "country": country,
    "date": date,
    "lat": lat,
    "lng": lng,
    "temp": temp,
    "humd": humd,
    "wind": wind,
    "cloud": cloud
})

weather_data = pd.DataFrame.from_dict(weather_df)
# weather_data = weather_data.transpose()
weather_data.to_csv("../output_data/Weather_Data.csv", index=False)
# Convert Unix Time Stamp to regular date
tmpdate = datetime.datetime.fromtimestamp(int(weather_data["date"][0])).strftime('%Y-%m-%d')
weather_data

,city,country,date,lat,lng,temp,humd,wind,cloud
0,Port Alfred,ZA,1613178619,-33.5906,26.8910,75.00,95,5.01,73
1,Garden City,US,1613178750,42.3256,-83.3310,24.80,79,4.61,90
2,Jamestown,US,1613178482,42.0970,-79.2353,15.80,73,5.75,75
3,Atuona,PF,1613178752,-9.8000,-139.0333,79.14,78,14.56,4
4,Bubaque,GW,1613178753,11.2833,-15.8333,78.40,63,11.25,0
5,Bredasdorp,ZA,1613178622,-34.5322,20.0403,69.80,83,2.30,15
6,Hithadhoo,MV,1613178756,-0.6000,73.0833,82.24,73,11.59,95
7,Chui,UY,1613178757,-33.6971,-53.4616,70.74,92,8.12,100
8,Emerald,AU,1613178668,-23.5333,148.1667,84.20,45,9.22,2
9,Bethel,US,1613178668,41.3712,-73.4140,28.40,30,3.44,90
10,Barrow,US,1613178760,71.2906,-156.7887,-9.40,70,8.05,75
11,Anadyr,RU,1613178761,64.7500,177.4833,-22.00,69,13.42,0
12,Cidreira,BR,1613178670,-30.1811,-50.2056,75.65,80,15.28,100
13,Kiryat Gat,IL,1613178764,31.6100,34.7642,53.01,100,1.74,0
14,Punta Arenas,CL,1613178765,-53.1500,-70.9167,57.00,54,11.50,90
15,Kaifeng,CN,1613178766,34.7911,114.3483,44.60,100,2.24,100
16,Albany,US,1613178621,42.6001,-73.9662,15.01,46,2.89,94
17,Souillac,MU,1613178768,-20.5167,57.5167,78.80,83,10.36,40
18,Yellowknife,CA,1613178769,62.4560,-114.3525,-13.00,77,3.44,20
19,Östersund,SE,1613178771,63.1792,14.6357,15.80,79,14.97,0
20,Avarua,CK,1613178772,-21.2078,-159.7750,86.00,70,4.61,75
21,Bandarbeyla,SO,1613178773,9.4942,50.8122,71.98,76,11.21,100
22,Kargat,RU,1613178774,55.1956,80.2811,-24.63,85,4.23,76
23,Lazurne,UA,1613178775,46.0840,32.5295,20.12,92,26.46,100
24,Butaritari,KI,1613178777,3.0707,172.7902,81.21,83,12.01,0
25,Diamantino,BR,1613178778,-14.4086,-56.4461,72.21,89,5.55,98
26,Saryozek,KZ,1613178779,44.3583,77.9753,32.31,96,2.21,100
27,Port Elizabeth,ZA,1613178780,-33.9180,25.5701,75.20,94,14.97,40
28,Qui Nhon,VN,1613178710,13.7667,109.2333,67.64,76,8.10,3
29,Lebu,CL,1613178603,-37.6167,-73.6500,58.59,85,14.94,0
30,Bluff,NZ,1613178785,-46.6000,168.3333,72.00,51,3.00,97
31,Hong Kong,HK,1613178641,22.2855,114.1577,64.99,82,3.00,18
32,Iqaluit,CA,1613178787,63.7506,-68.5145,-7.60,71,2.30,20
33,Saskylakh,RU,1613178788,71.9167,114.0833,-28.88,82,1.68,73
34,Cape Town,ZA,1613178639,-33.9258,18.4232,68.00,88,9.22,0
35,Cheremkhovo,RU,1613178791,53.1561,103.0675,-20.47,89,4.12,73
36,Tiksi,RU,1613178792,71.6872,128.8694,-10.82,91,2.55,28
37,Tual,ID,1613178794,-5.6667,132.7500,84.22,75,10.51,99
38,Saint-Philippe,RE,1613178795,-21.3585,55.7679,78.80,65,9.22,75
39,Kapaa,US,1613178796,22.0752,-159.3190,78.01,57,8.05,1
40,Pamekasan,ID,1613178685,-7.1568,113.4746,81.14,79,9.15,94
41,Chokurdakh,RU,1613178798,70.6333,147.9167,-22.02,72,3.42,0
42,Busselton,AU,1613178644,-33.6500,115.3333,70.00,65,3.00,0
43,Mataura,NZ,1613178617,-46.1927,168.8643,72.00,51,3.00,81
44,Vostok,RU,1613178802,46.4856,135.8833,26.96,97,5.75,100
45,Lüderitz,NA,1613178657,-26.6481,15.1594,63.41,86,5.32,15
46,Vaini,TO,1613178805,-21.2000,-175.2000,86.00,74,8.05,75

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
#  Get the indices of cities that have humidity over 100%.

humidityover = weather_data.loc[weather_data['humd'] > 100]
print(humidityover)


# index = weather_data.index
# humidityover = weather_data["humd"] > 100
# humdindices = index[humidityover] get only rows with > 100
# indices_list = humdindices.tolist()
# print(indices_list)

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

In [ ]:
# scatter plot
plt.scatter(weather_data["lat"],weather_data["temp"], marker="o", alpha = 0.75)

# labels and ttile
plt.title("City Latitude vs. Temperature (" + tmpDate + ")")
plt.xlabel("Latitude")
plt.ylabel("Temperature (F)")
plt.grid(True)

# Save the figure
plt.savefig("latandtemp.png")

# Show plot
plt.show()

## Latitude vs. Humidity Plot

In [ ]:
# scatter plot
plt.scatter(weather_data["lat"],weather_data["humd"], marker="o", alpha = 0.75)

# labels and title
plt.title("City Latitude vs. Humidity (" + tmpDate + ")")
plt.xlabel("Latitude")
plt.ylabel("Humidity (%)")
plt.grid(True)

# Save the figure
plt.savefig("latandhumd.png")

# Show plot
plt.show()

## Latitude vs. Cloudiness Plot

In [ ]:
# scatter plot
plt.scatter(weather_data["lat"],weather_data["cloud"], marker="o", alpha = 0.75)

# labels and title
plt.title("City Latitude vs. Cloudiness (" + tmpDate + ")")
plt.xlabel("Latitude")
plt.ylabel("Cloudiness (%)")
plt.grid(True)

# Save the figure
plt.savefig("latandcloud.png")

# Show plot
plt.show()

## Latitude vs. Wind Speed Plot

In [ ]:
# scatter plot
plt.scatter(weather_data["lat"],weather_data["wind"], marker="o", alpha = 0.75)

# labels and title
plt.title("City Latitude vs. Wind Speed (" + tmpDate + ")")
plt.xlabel("Latitude")
plt.ylabel("Wind Speed (mph)")
plt.grid(True)

# Save the figure
plt.savefig("latandwind.png")

# Show plot
plt.show()

## Linear Regression

In [ ]:
# northern hemisphre is north of equater, while southern hemishere is south of equator. sciencing.com(2018)
northern = weather_data.loc[weather_data["lat"] >= 0.0]
northern.reset_index(inplace=True)

southern = weather_data.loc[weather_data["lat"] < 0.0]
southern.reset_index(inplace=True)

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

In [ ]:
# assign x and y values
x_values = northern["lat"]
y_values = northern["temp"]

# Run linear regression
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Plot scatter plot
plt.scatter(x_values,y_values)

# Plot regression line
plt.plot(x_values,regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")

# Label plot
plt.ylabel('Maximum Temperature')
plt.xlabel('Latitude')
plt.title("Northern Hemisphere - Max Temp vs. Latitude (" + tmpDate + ")")

# Print r square value
print(f"R squared: {rvalue**2}")

# Show plot
plt.show()

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

In [ ]:
## assign x and y values
x_values = southern["lat"]
y_values = southern["temp"]

# Run linear regression
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Plot scatter plot
plt.scatter(x_values,y_values)

# Plot regression line
plt.plot(x_values,regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")

# Label plot
plt.ylabel('Maximum Temperature')
plt.xlabel('Latitude')
plt.title("Southern Hemisphere - Max Temp vs. Latitude (" + tmpDate + ")")

# Print r square value
print(f"R squared: {rvalue**2}")

# Show plot
plt.show()

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

In [ ]:
# assign x and y values
x_values = northern["lat"]
y_values = northern["humd"]

# Run linear regression
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Plot scatter plot
plt.scatter(x_values,y_values)

# Plot regression line
plt.plot(x_values,regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")

# Label plot
plt.ylabel('Humidity (%)')
plt.xlabel('Latitude')
plt.title("Northern Hemisphere - Humidity (%) vs. Latitude (" + tmpDate + ")")

# Print r square value
print(f"R squared: {rvalue**2}")

# Show plot
plt.show()

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

In [ ]:
# assign x and y values
x_values = southern["lat"]
y_values = southern["humd"]

# Run linear regression
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Plot scatter plot
plt.scatter(x_values,y_values)

# Plot regression line
plt.plot(x_values,regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")

# Label plot

plt.ylabel('Humidity')
plt.xlabel('Latitude')
plt.title("Southern Hemisphere - Maximum Humidity (%) vs. Latitude (" + tmpDate + ")")

# Print r square value
print(f"R squared: {rvalue**2}")

# Show plot
plt.show()

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

In [ ]:
# assign x and y values
x_values = northern["lat"]
y_values = northern["cloud"]

# Run linear regression
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Plot scatter plot
plt.scatter(x_values,y_values)

# Plot regression line
plt.plot(x_values,regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")

# Label plot
plt.ylabel('Cloudiness')
plt.xlabel('Latitude')
plt.title("Northern Hemisphere - Cloudiness vs. Latitude (" + tmpDate + ")")

# Print r square value
print(f"R squared: {rvalue**2}")

# Show plot
plt.show()

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

In [ ]:
# assign x and y values
x_values = southern["lat"]
y_values = southern["cloud"]

# Run linear regression
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Plot scatter plot
plt.scatter(x_values,y_values)

# Plot regression line
plt.plot(x_values,regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")

# Label plot
plt.ylabel('Cloudiness')
plt.xlabel('Latitude')
plt.title("Southern Hemisphere - Cloudiness vs. Latitude (" + tmpDate + ")")

# Print r square value
print(f"R squared: {rvalue**2}")

# Show plot
plt.show()

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

In [ ]:
# assign x and y values
x_values = northern["lat"]
y_values = northern["wind"]

# Run linear regression
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Plot scatter plot
plt.scatter(x_values,y_values)

# Plot regression line
plt.plot(x_values,regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")

# Label plot
plt.ylabel('Wind Speed (mph)')
plt.xlabel('Latitude')
plt.title("Northern Hemisphere - Wind Speed (mph) vs. Latitude (" + tmpDate + ")")

# Print r square value
print(f"R squared: {rvalue**2}")

# Show plot
plt.show()

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

In [ ]:
# assign x and y values
x_values = southern["lat"]
y_values = southern["wind"]

# Run linear regression
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Plot scatter plot
plt.scatter(x_values,y_values)

# Plot regression line
plt.plot(x_values,regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")

# Label plot
plt.ylabel('Wind Speed (mph)')
plt.xlabel('Latitude')
plt.title("Southern Hemisphere - Wind Speed (mph) vs. Latitude (" + tmpDate + ")")

# Print r square value
print(f"R squared: {rvalue**2}")

# Show plot
plt.show()